
.table-of-contents {
    position: fixed;
    top: 90px;
    bottom: 0;
    font-size: 0.8em;
    left: 20px;
    z-index: 200;
    overflow: hidden;
    --uno: hidden lg-flex flex-col w-100px lg-w-200px xl-w-300px;
}

.table-of-contents-anchor {
    --uno: mx2  text-lg flex items-center;
    padding-left:0.5em;
}

.table-of-contents > ul {
    text-overflow: ellipsis;
    height: 100%;
    overflow-y: auto;
    --uno: rounded op0 mt-1 pb-5 pl-0 transition duration-700 list-none no-underline	;
}

.table-of-contents > ul>li>ul{
    --uno: pl-0;
}
.table-of-contents > ul>li>ul>li>ul{
    --uno: pl-0;
}

 .table-of-contents:hover > ul {
     --uno: list-none;
    opacity: 0.75;
}


.table-of-contents ul > li {
    /*padding-left: 0.8rem;*/
    line-height: 1.5em;
    margin-top: 0.5em;
    --uno: list-none !important;
}

.table-of-contents ul > li > a {
    --uno: op75 hover-op100 transition;
}


.vp-adaptive-theme {
    position: relative;
}

.lang{
    position: absolute;
    right:0.5em;
    top:0.5em;
    --uno: text-xs font-sans op100 transition duration-500 text-zinc-700 font-sans

}


.vp-adaptive-theme:hover .lang{
    opacity: 0;

    --uno: transition duration-500
}


