
/*.dark {*/
/*  !*--background: 240 10% 3.9%;*!*/
/*}*/

/*:root {*/
/*  --radius: 0.65rem;*/
/*  --background: 1 0 0;*/
/*  --foreground: 0.145 0 0;*/
/*  --card: 1 0 0;*/
/*  --card-foreground: 0.145 0 0;*/
/*  --popover: 1 0 0;*/
/*  --popover-foreground: 0.145 0 0;*/
/*  --primary: 0.205 0 0;*/
/*  --primary-foreground: 0.985 0 0;*/
/*  --secondary: 0.97 0 0;*/
/*  --secondary-foreground: 0.205 0 0;*/
/*  --muted: 0.97 0 0;*/
/*  --muted-foreground: 0.556 0 0;*/
/*  --accent: 0.97 0 0;*/
/*  --accent-foreground: 0.205 0 0;*/
/*  --destructive: 0.577 0.245 27.325;*/
/*  --border: 0.922 0 0;*/
/*  --input: 0.922 0 0;*/
/*  --ring: 0.708 0 0;*/
/*  --chart-1: 0.646 0.222 41.116;*/
/*  --chart-2: 0.6 0.118 184.704;*/
/*  --chart-3: 0.398 0.07 227.392;*/
/*  --chart-4: 0.828 0.189 84.429;*/
/*  --chart-5: 0.769 0.188 70.08;*/
/*  --radius: 0.625rem;*/
/*  --sidebar: 0.985 0 0;*/
/*  --sidebar-foreground: 0.145 0 0;*/
/*  --sidebar-primary: 0.205 0 0;*/
/*  --sidebar-primary-foreground: 0.985 0 0;*/
/*  --sidebar-accent: 0.97 0 0;*/
/*  --sidebar-accent-foreground: 0.205 0 0;*/
/*  --sidebar-border: 0.922 0 0;*/
/*  --sidebar-ring: 0.708 0 0;*/
/*}*/

/*.dark {*/
/*  --background: 0.145 0 0;*/
/*  --foreground: 0.985 0 0;*/
/*  --card: 0.205 0 0;*/
/*  --card-foreground: 0.985 0 0;*/
/*  --popover: 0.205 0 0;*/
/*  --popover-foreground: 0.985 0 0;*/
/*  --primary: 0.922 0 0;*/
/*  --primary-foreground: 0.205 0 0;*/
/*  --secondary: 0.269 0 0;*/
/*  --secondary-foreground: 0.985 0 0;*/
/*  --muted: 0.269 0 0;*/
/*  --muted-foreground: 0.708 0 0;*/
/*  --accent: 0.269 0 0;*/
/*  --accent-foreground: 0.985 0 0;*/
/*  --destructive: 0.704 0.191 22.216;*/
/*  --border: 1 0 0 / 10%;*/
/*  --input: 1 0 0 / 15%;*/
/*  --ring: 0.556 0 0;*/
/*  --chart-1: 0.488 0.243 264.376;*/
/*  --chart-2: 0.696 0.17 162.48;*/
/*  --chart-3: 0.769 0.188 70.08;*/
/*  --chart-4: 0.627 0.265 303.9;*/
/*  --chart-5: 0.645 0.246 16.439;*/
/*  --sidebar: 0.205 0 0;*/
/*  --sidebar-foreground: 0.985 0 0;*/
/*  --sidebar-primary: 0.488 0.243 264.376;*/
/*  --sidebar-primary-foreground: 0.985 0 0;*/
/*  --sidebar-accent: 0.269 0 0;*/
/*  --sidebar-accent-foreground: 0.985 0 0;*/
/*  --sidebar-border: 1 0 0 / 15%;*/
/*  --sidebar-ring: 0.556 0 0;*/
/*}*/

@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%}
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%}
}

@layer base {
  * {
    @apply border-border;
  }

}

/*---break---*/

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
