:root {
    --c-bg: #fff;
    --c-scrollbar: #eee;
    --c-scrollbar-hover: #bbb;
}

html {
    background-color: var(--c-bg);
    overflow-x: hidden;
    overflow-y: scroll;
}

html.dark {
    --c-bg: #201c1c;
    --c-scrollbar: #111;
    --c-scrollbar-hover: #222;
}
